* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "myFont";
}

@font-face {
  font-family: "myFont";
  src: url("/fonts/iranyekan/woff2/IRANYekanWebRegular.woff2");
}

body {
  background-image: url("/blob-scatter-haikei.png");
}
